#citySearch {
    display: inline;
  }
  #currentCity {
    font-size: 24px;
  }
  .sun-icon {
    color: orange;
    font-size: 100px;
  }
  .partSun-icon {
    color: orange;
    font-size: 50px;
  }
  img {
    size: 300px;
  }
  h3 {
    text-align: left;
  }
  weather-app {
    border: 1px, solid;
  }
  